<!DOCTYPE html>
<html>
<head>
<title>Index of {{title}}</title>
</head>
<body>
<h1>Index of {{title}}</h1>
<hr>
<pre>
<table style="width: 100%">
<a href="../">../</a>
{{folders}}
<tr><td> </td><td></td><td></td></tr>
{{files}}
</table></pre>
<hr>
</body>
</html>